.example-spacer {
    flex: 1 1 auto;
  }
.active{
  background-color: red;
} 
.name_text{
  font-size: 20px;
  position: relative;
  font-style: italic;
}
#r_text{
  left: -70px;
  top: 10px;
}
#b_text{
  top: -10px;
}
a{
  color: #000;
  text-decoration: none;
}

