.example-spacer {
    flex: 1 1 auto;
  }
.active{
  border-radius: 5px;
  background-color: rgb(11, 187, 32);
} 
.name_text{
  font-size: 20px;
  position: relative;
  font-style: italic;
}
#r_text{
  left: -70px;
  top: 10px;
}
#b_text{
  top: -10px;
}
a{
  color: #fbfbfb;
  text-decoration: none;
}

