<mat-toolbar>
    <a routerLink="/home">
      <span style="font-style: italic; margin-top: 0px;">Bun n Bun </span>
      <span  >Restadunt</span>
    </a>
    <span class="example-spacer"></span>
    <button routerLink="/contact" routerLinkActive="active" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    CONTACT
    </button>
    <button mat-button [matMenuTriggerFor]="belowMenu">LOGIN</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/admin_login" routerLinkActive="active">Admin_Login</button>
      <button mat-menu-item routerLink="/employee_eogin" routerLinkActive="active">Employee_Login</button>
    </mat-menu>
  </mat-toolbar>
  
