<app-header></app-header>
<div id="contact_viewpoart">
    <div id="contact_detalis">
        <h1>Address</h1>
        <div >
            <mat-icon >room</mat-icon><span>Siromani Market Dighi Kala West</span>
        </div>
        <div  class="space">
            <mat-icon >phone</mat-icon><span>9304911833</span>
        </div>
        <div class="space">
            <mat-icon >email</mat-icon><span>rockranjeetkr@gmail.com</span>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25920.297594416916!2d85.20790359423482!3d25.70289084326215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed5dcbd147dc65%3A0x129b57300e8c7913!2zU0hJUk9NQU5JIE1BUktFVCjgpLbgpL_gpLDgpYvgpK7gpKPgpL8g4KSu4KS-4KSw4KWN4KSV4KWH4KSfKQ!5e0!3m2!1sen!2sin!4v1679468397939!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map_view"></iframe>
    </div>
</div>
<mat-toolbar id="footer"></mat-toolbar>
