<app-header></app-header>
<div id="login_page">
    <div id="login_from">
        <mat-toolbar id="login_from_head">
            Admin Login !
        </mat-toolbar>
        <br><br><br>
        <form>
            <label><b>Username</b></label><br>
            <input type="email" placeholder="Username" class="form_input" name="user_name"><br><br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Username" class="form_input" >
            <br><br>
            <button mat-button type="submit" routerLink="/emp">Login</button><br><br>
        </form>
        <span>
           Forgate Password ? 
        </span>
    </div>
</div>
<app-footer></app-footer>