div{
  height: calc(100vh - 110px);
  width: 100%;
}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  background-color: aqua;
  flex-wrap: wrap;
}

.example-sidenav {
  background-color: rgb(136, 6, 162);
}
.thumnil{
  height: 20%;
  width: 20%;
  margin: 10px;
  float: left;
  background-color: black;
}
.dashboard_button{
  width: 100%;
}