<mat-toolbar>
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Admin_Dashboard_Login</span>
  <span class="example-spacer"></span>
  <div id="profile_icon">
   <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/IMG_20211231_075407_580.jpg" class="icon_button"></button>
    <mat-menu #menu="matMenu">
      <div id="profile_page">
        <h1 style="color: black;">RANJEET KUMAR</h1>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <button mat-button class="dashboard_button"><mat-icon>home</mat-icon>employee</button><br>
      <button mat-button class="dashboard_button">employee</button><br>
      <button mat-button class="dashboard_button">employee</button><br>
      <button mat-button class="dashboard_button">employeghghghgfe</button>
    </mat-drawer>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  <mat-toolbar></mat-toolbar>