.mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(136, 6, 162);
}
.cdk-overlay-pane{
    margin-top:18px;
  }
.mat-mdc-menu-content {
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
    color:  azure;
    background-color:rgb(136, 6, 162);
}
.mdc-button .mdc-button__label {
    position: relative;
    color: white;
    font-size: 15px;
}
.mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
    color: azure;
}
.mat-toolbar-single-row{
    color: azure;
    font-style: italic;
}
