<app-header></app-header>
<div id="login_page">
    <div id="login_from">
        <mat-toolbar id="login_from_head">
            Admin Login !
        </mat-toolbar>
        <br><br><br>
        <form>
            <mat-icon>account_circle</mat-icon>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
            </mat-form-field><br>
            <mat-icon>key</mat-icon>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Passwor</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field>
            <br><br>
            <button mat-button type="submit" routerLink="/login">Login</button><br><br>
            <span>
                Forgate Password ?
            </span>
        </form>
    </div>
</div>
<app-footer></app-footer>
  